<!DOCTYPE html>
<html>
<head>
  <title>Volunteer</title>

</head>
<body>
	
	<div class="container">
		<div class="masthead">
			<ul class="nav nav-pills pull-right">
				<li class="active">
					<a href="#">Profile</a>
				</li>
				<li>
					<a href="#">Jobs</a>
				</li>
			</ul>
			<h3 class="muted">Windy City Habitat Volunteer Portal</h3>
	</div>

<%= yield %>

</body>
</html>
